* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #010758, #490d61);
    color: white;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
}
.hero h1 span{}